*{
  box-sizing: border-box;
}
/* 404 Page Not Found Styling */
html,body{
  background-color: #F2F0E4;
}
main{
	height: 100vh;
	width: 100vw;
	background: #592A0E;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Merriweather Sans', sans-serif;
    color: #F2F0E4;
}
#errorText{
		font-size: 22px;
		margin: 14px 0;
}
	
#errorLink{
		font-size: 20px;
		padding: 12px;
		border: 1px solid;
		color: #F2F0E4;
		background-color: transparent;
		text-decoration: none;
		transition: all 0.5s ease-in-out;
}

#errorLink:hover{
			background-color: #592A0E;
			color: #F2F0E4;
        }
	#g6219{
		transform-origin: 85px 4px ;
		animation: an1 12s .5s infinite ease-out;
    }
@keyframes an1{
	0%
		{transform: rotate(0)}
	5%
		{transform: rotate(3deg)}
	15%
		{transform: rotate(-2.5deg)}
	25%
		{transform: rotate(2deg)}
	35%
		{transform: rotate(-1.5deg)}
	45%
		{transform: rotate(1deg)}
	55%
		{transform: rotate(-1.5deg)}
	65%
		{transform: rotate(2deg)}
	75%
		{transform: rotate(-2deg)}
	85%
		{transform: rotate(2.5deg)}
	95%
		{transform: rotate(-3deg)}
	100%
		{transform: rotate(0)}
}

/* Login Page */

/* position the close button */
.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: block; /*Hidden by default */
  /*position: fixed; /* Stay in place */
  /*z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /*Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #592A0E;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #592A0E;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #592A0E;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* Main Page */
.main{
  /* margin-top: 70px; */
  position: relative;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #A6691F;
  height: 500px;
  margin-top: 80px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #592A0E;
  border: 1px solid #A6691F;
  border-radius: 50%;
  padding: 8px 10px;
}

.column{
  float: left;
  width: 50%;
  padding: 10px;
  margin: 10px 0 10px 0;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: solid #A6691F;
  background-color: #F2C879;
}

.row{
  margin: 70px;
}

.row::after{
  content: '';
  display: table;
  clear: both;
}
.column-btn{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 90px;
}
.column button{
  width:70%;
  margin: 25px 0;
  padding: 12px;
  opacity: 0.85s;
  display: inline-block;

}
.column a{
  display: block;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  color: #F2F0E4;
  font-weight: bolder;
  
}

@media screen and (max-width: 650px) {
  .row{
    margin:40px;
  }
  .column {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }

  section{
    margin: 20px 10px;
  }
}
